@import '../../../../../variables';

$item_color: #0393cd;
$color_hover: #00658d;

.Option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.8rem 1.6rem;
    border-radius: 6px;
    word-wrap: break-word;
    
    &__Name, &__Icon {
        transition: all 0.2s ease-in;
    }

    &:hover &__Name {
        color: $color_hover;
    }

    &:hover &__Icon {
        fill: $color_hover;
    }

    &__Name {
        font-size: $default-font-size;
        color: $item_color;
    }

    &__Icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $item_color;
        margin-right: 1rem;
    }
}