@import '../../../variables';

.ButtonLink {
    cursor: pointer;
    font-size: $small-font-size;
    font-weight: 400;
    letter-spacing: 0.15em;
    color: $color-tertiary-0;
    text-decoration: underline;
    transition: color 0.2s ease-out;

    &__Disabled {
        cursor: not-allowed;
        color: $color-gray-dark;
    }
}

.ButtonLinkWhite {
    color: $color-white;

    &:hover {
        color: $gray;
    }
}

.ButtonLinkCustom {
    color: $color-bluish;

    &:hover {
        color: $color-bluish-dark;
    }
}

.ButtonLinkBig {
    font-size: $default-font-size;
}

.NoUnderLine {
    text-decoration: none;
}