@import '../../../variables';

.CreatePoster {
    h2 {
        @include h2TitleStyle;
    }

    &__Body {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 4rem -1.5rem 0 -1.5rem;

        &__Left {
            flex: 0 0 50%;
            max-width: 50%;

            form {
                width: 75%;
                margin: 0 auto;
            }
        }

        &__Right {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

.FlexRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}