@import '../../../variables';

.Signup {
    position: absolute;
    top: 2rem;
    left: 3rem;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(90px, 0, 0);
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .5s ease-in-out;
    width: calc(100% - 6rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h2 {
        margin-left: auto;
        font-size: $small-header-font-size;
        font-weight: 400;
        letter-spacing: 0.15em;
        margin-bottom: 1.5rem;
        color: $color-bluish;
    }

    &__Show {
        animation: showSignup 1s forwards;
    }

    &__Cta {
        display: flex;
        
        button {
            margin-left: auto;
        }
    }
}

@keyframes showSignup {
    100% {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}