@import "../../../../variables";

.FeedbackCondition {
    display: flex;
    align-items: center;
    font-size: $small-font-size;

    &__Icon {
        margin-top: 3px;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        fill: #046368;
    }
}