@import '../../../variables';

.ToolbarWrapper {
    color: rgba($color-grey-dark, 0.85);
    background-color: $color-white;
    font-size: $default-font-size;
    border-bottom: 1px solid rgba($color-grey-dark, 0.5);
}

.Toolbar {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
    font-weight: 600;

    &__Main {
        display: flex;

        & > span:not(:last-child) {
            margin-right: 2rem;
        }

        & > span:not(:first-child) {
            margin-left: 2rem;
        }
    }
}