@import '../../../variables';

.AuthFeedback {
    // position: relative;
    &__AnimContainer {
        height: 20rem;
        width: 20rem;
    }

    &__Header {
        h2 {
            text-align: center;
            font-size: $small-header-font-size;
        }
    }
}