@import '../../../../variables';

.PasswordEdit {
    position: relative;
    min-height: 32rem;

    h2 {
        @include h2TitleStyle;
    }

    form {
        width: 70%;
        margin: 4rem auto;
    }

    &__Cta {
        display: flex;
        justify-content: flex-end;

        button:first-child {
            margin-right: 2rem;
        }
    }

    &__Error {
        position: absolute;
        right: 0;
        z-index: -1;
        opacity: 0;
        transform: translateY(-2rem);
        transition: opacity 0.2s ease-in;
        font-size: $small-font-size;
        color: $color-tertiary-4;
        font-weight: 500;
        text-decoration: underline;
    
        &::before {
            content: "*";
            display: inline-block;
        }

        &__Show {
            opacity: 1;
        }
    }
}