@import '../../../variables';

.Button {
    display: inline-block;
    position: relative;
    font-size: $default-font-size;
    font-weight: 500;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: $color-tertiary-0;
    color: $color-white;
    border: none;
    transition: all 0.2s ease-out;
    z-index: 100;

    &:disabled {
        background-color: $color-gray-dark;
        cursor: not-allowed;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        transition: all 0.2s ease-out;
        background: $color-tertiary-3;
        z-index: -100;
    }

    &::before {
        top: 0;
        left: 0;
        transform-origin: top;
    }

    &::after {
        bottom: 0;
        right: 0;
        transform-origin: bottom;
    }

    &:enabled:hover::before {
        height: 50%;
    }

    &:enabled:hover::after {
        height: 50%;
    }
}

.ButtonDanger {
    background-color: $color-tertiary-0;

    &::before,
    &::after {
        background: $color-tertiary-2;
    }
}

.ButtonSecondary {
    background-color: $color-secondary-0;

    &::before,
    &::after {
        background: $color-secondary-3;
    }
}

.ButtonCustom {
    background-color: $color-bluish;

    &::before,
    &::after {
        background: $color-bluish-dark;
    }
}

.ButtonSmall {
    padding: 0.5rem
}