@import '../../../variables';

.InputContainer {
    font-size: $default-font-size;
    position: relative;
    width: 100%;
    margin-bottom: 3.5rem;

    label {
        display: block;
        position: absolute;
        top: -1.8rem;
        left: 0;
        z-index: -1;
        transition: all 0.2s ease-in;
        margin-left: 6px;
        font-weight: 500;
        color: rgba($color-grey-light-2, 0.85);
    }

    &__Input:placeholder-shown ~ label {
        opacity: 0;
        transform: translateY(1.2rem);
    }

    &__Input {
        all: unset;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        background-color: $color-white;
        padding: 6px;
        border-bottom: 1px solid $color-black;

        &::placeholder {
            font-weight: 500;
            color: rgba($color-grey-light-2, 0.85);
        }
    }

    &__BottomBorder {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% + 1px);//TODO revisit this
        display: flex;

        &::after, &::before {
            content: "";
            width: 50%;
            height: 3px;
            background-color: $color-bluish;
            transition: transform 0.2s ease-in;
        }

        &::before {
            transform-origin: right;
            transform: scaleX(0);
        }

        &::after {
            width: calc(50% + 1px);
            transform-origin: left;
            transform: scaleX(0);
        }
    }

    &__Input:focus + &__BottomBorder::after, &__Input:focus + &__BottomBorder::before {
        transform: scaleX(1);
    }
}

.ValidationError {
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translateY(0);
    transition: all 0.2s ease-in;
    font-size: $small-font-size;
    color: $color-tertiary-4;
    font-weight: 500;
    text-decoration: underline;

    &::before {
        content: "*";
        display: inline-block;
    }
}

.ShowValidationError {
    transform: translateY(-2rem);
}

.InvalidInput {
    color: $color-tertiary-4;

    &::placeholder {
        color: rgba($color-tertiary-4, 0.85);
    }
}