@import '../../../../variables';

.Checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;

    input, label {
        pointer-events: none;
    }

    &:not(:last-child) {
        margin-right: 3rem;
    }

    input {
        width: 1.6rem;
        height: 1.6rem;
    }

    label {
        margin-left: 1rem;
        font-size: $default-font-size;
    }

    &:checked {
        background-color: orangered;
    }
}