@import "../../../variables";

.PasswordFeedback {
    position: absolute;
    height: 7.2rem;
    bottom: -2rem;
    left: 0;
    background-color: $color-white;
    border-radius: 8px;
    transform: translateY(-6rem);

    &__Visible {
        animation: setVisible 0.2s ease-in forwards;
    }

    &__Hide {
        animation: setInvisible 0.2s ease-in forwards;
    }
}

@keyframes setVisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes setInvisible {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}