@import '../../variables';

.DropContainer {
    width: 80%;
    margin: 0 auto;
    height: 15rem;
    color: $color-grey-light-2;
    border: 5px dashed $color-grey-light-2;
    position: relative;
    transition: all 0.2s ease-out;

    &__InfoText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $default-font-size;
        font-weight: 600;
        color: inherit;
    }

    &__FileSelect {
        position: absolute;
        bottom: 0;
        left: 0;

        button {
            margin: 0 0 8px 8px;
        }
    }

    &__Enter {
        color: $color-grey-dark-1;
        background-color: $color-gray-light;
        border: 5px dashed $color-grey-dark-1;
    }
}

.InvalidFileType {
    color: $red;
}

.ValidFileType {
    color: $green;
}