@import '../../../../variables';

.NavigationItem {
    display: flex;
    justify-content: center;
    align-items: center;

    &__LinkContent {
        display: flex;
        justify-content: center;
        align-items: center;

        span:last-child {
            transition: color 0.2s ease-in;
        }
    }

    &__Link {
        &:link,
        &:active,
        &:visited {
            text-decoration: none;
        }
    }

    &__Link:hover &__Icon {
        fill: $color-grey-light-2;
    }

    &__Link:hover &__IconContainer + span {
        color: $color-grey-light-2;
    }

    &__IconContainer {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__Icon {
        width: 2rem;
        height: 2rem;
        transition: fill 0.2s ease-in;
    }
}

.textGrayDark {
    color: $color-gray-dark;
}

.iconGrayDark {
    fill: $color-gray-dark;
}